<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-button aria-expanded="block" (click)="chamarProximaSenha()">Chamar Próxima Senha</ion-button>

  <ion-card *ngIf="senhasService.senhaChamada">
    <ion-card-header>
      Senha Chamada
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{ senhasService.senhaChamada.numero }}</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Senhas Chamadas Recentemente
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let senha of senhasService.senhasChamadas">
          <ion-label>{{ senha.numero }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
   
  

</ion-content>


